In [1]:
## import library yang akan digunakan
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pandas as pd

In [2]:
data = pd.read_csv('aircraft_dataset.csv')
data.head()

,Unnamed: 0,Aircraft Model,Empty Weight (kg),Maximum Takeoff Weight (kg),Maximum Landing Weight (kg),Center of Gravity Limits,Wing Loading (kg/m²),Tail Loading (kg/m²),Fuel Capacity (liters),Number of Passengers,Cargo Capacity (kg),Maximum Altitude (ft),Maximum Speed (knots),Engine Type,Fuselage Length (m)
0,0,Airbus A320,149968.187455,279525.090979,255896.490294,25%-35% of MAC,818.558281,124.788364,52538.236167,472,80061.732289,44470,658,Turbofan,41.726817
1,1,Boeing 777,140855.879891,145055.173915,143703.314584,15%-30% of MAC,366.423230,111.743182,298000.265987,257,27118.725192,31739,495,Turbofan,54.402799
2,2,Airbus A320,151024.598908,534343.948027,270662.904304,20%-35% of MAC,829.145903,138.672695,176299.254601,172,1002.209110,24398,585,Turboprop,28.864086
3,3,Airbus A320,180889.454772,815185.841349,183594.487162,15%-30% of MAC,290.845909,169.249463,51211.630194,444,75726.083545,26793,632,Turboprop,46.111611
4,4,Embraer E190,113855.173286,439094.342299,233683.883944,20%-35% of MAC,509.848919,32.282885,494662.501258,55,45268.322065,30982,663,Piston,80.394753

In [3]:
# drop column Unnamed: 0
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
## rename column 
new_columns = { 'Aircraft Model':'Aircraft_Model', 'Empty Weight (kg)':'Empty_Weight',
                'Maximum Takeoff Weight (kg)': 'Maximum_Takeoff_Weight', 'Maximum Landing Weight (kg)': 'Maximum_Landing_Weight', 
                'Center of Gravity Limits':'Center_Gravity_Limits', 'Wing Loading (kg/m²)':'Wing_Loading', 
                'Tail Loading (kg/m²)':'Tail_Loading','Fuel Capacity (liters)':'Fuel_Capacity', 
                'Number of Passengers':'Maximum_Passengers', 'Cargo Capacity (kg)':'Cargo_Capacity',
                'Maximum Altitude (ft)':'Maximum_Altitude', 'Maximum Speed (knots)':'Maximum_Speed', 
                'Engine Type':'Engine_Type', 'Fuselage Length (m)':'Fuselage_Length'}

In [5]:
data.rename(columns=new_columns, inplace=True)

In [6]:
data.head()

,Aircraft_Model,Empty_Weight,Maximum_Takeoff_Weight,Maximum_Landing_Weight,Center_Gravity_Limits,Wing_Loading,Tail_Loading,Fuel_Capacity,Maximum_Passengers,Cargo_Capacity,Maximum_Altitude,Maximum_Speed,Engine_Type,Fuselage_Length
0,Airbus A320,149968.187455,279525.090979,255896.490294,25%-35% of MAC,818.558281,124.788364,52538.236167,472,80061.732289,44470,658,Turbofan,41.726817
1,Boeing 777,140855.879891,145055.173915,143703.314584,15%-30% of MAC,366.423230,111.743182,298000.265987,257,27118.725192,31739,495,Turbofan,54.402799
2,Airbus A320,151024.598908,534343.948027,270662.904304,20%-35% of MAC,829.145903,138.672695,176299.254601,172,1002.209110,24398,585,Turboprop,28.864086
3,Airbus A320,180889.454772,815185.841349,183594.487162,15%-30% of MAC,290.845909,169.249463,51211.630194,444,75726.083545,26793,632,Turboprop,46.111611
4,Embraer E190,113855.173286,439094.342299,233683.883944,20%-35% of MAC,509.848919,32.282885,494662.501258,55,45268.322065,30982,663,Piston,80.394753

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Aircraft_Model          25000 non-null  object
 1   Empty_Weight            25000 non-null  float64
 2   Maximum_Takeoff_Weight  25000 non-null  float64
 3   Maximum_Landing_Weight  25000 non-null  float64
 4   Center_Gravity_Limits   25000 non-null  object
 5   Wing_Loading            25000 non-null  float64
 6   Tail_Loading            25000 non-null  float64
 7   Fuel_Capacity           25000 non-null  float64
 8   Maximum_Passengers      25000 non-null  int64
 9   Cargo_Capacity          25000 non-null  float64
 10  Maximum_Altitude        25000 non-null  int64
 11  Maximum_Speed           25000 non-null  int64
 12  Engine_Type             25000 non-null  object
 13  Fuselage_Length         25000 non-null  float64
dtypes: float64(8), int64(3), object(3)
memory usage: 2.7+ MB

In [8]:
data.duplicated().sum()

0

No duplicate value

In [22]:
data.describe()

,Empty_Weight,Maximum_Takeoff_Weight,Maximum_Landing_Weight,Wing_Loading,Tail_Loading,Fuel_Capacity,Maximum_Passengers,Cargo_Capacity,Maximum_Altitude,Maximum_Speed,Fuselage_Length
count,25000.000000,2.500000e+04,2.500000e+04,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,150550.712410,4.526516e+05,3.019565e+05,598.404186,109.806503,249099.077932,274.545560,50152.936766,39961.992880,550.450160,55.058987
std,86463.623898,3.284551e+05,2.323845e+05,231.058661,52.008772,144365.178161,129.985611,28464.768809,11570.426026,86.927584,26.080878
min,523.501931,7.081314e+02,6.310162e+02,200.077157,20.019328,1002.584912,50.000000,1002.043840,20001.000000,400.000000,10.004177
25%,75478.577899,1.891280e+05,1.277688e+05,398.572198,64.916463,124086.001976,162.000000,25860.125043,29910.000000,475.000000,32.568153
50%,150022.889154,3.806035e+05,2.548705e+05,596.545232,109.641132,248362.359605,274.000000,49845.885537,39920.500000,551.000000,55.081186
75%,225922.318888,6.600670e+05,4.112665e+05,799.258956,154.733859,374861.477465,387.000000,74845.195460,50000.250000,626.000000,77.718134
max,299996.456246,1.498140e+06,1.435393e+06,999.954641,199.999980,499953.926532,500.000000,99995.241980,60000.000000,700.000000,99.987941

In [23]:
## import CSV to SQL using Sqlalchemy
encoded_pass = quote_plus('PASSWORD') ## SQL Password
mysql_engine = create_engine(f"mysql://root:{encoded_pass}@localhost:3306/aircraft")

In [25]:
## import CSV to Mysql
data.to_sql('aircraft_table', mysql_engine, if_exists='replace', index=False)

25000

it's show 25000 record have been successfully imported into the database